body {
    text-align: center; 
    color: #D4AF37;
}

.searcher {
   margin-bottom: 80px; 
}

.profitable{
    color: green;
}

.notProfitable{
    color:red;
}
/* .header{
    text-align: center;
    padding: 20px;
} */

.header{
    text-align: left
}

.img{
    width:  3px;
    height: 3px;

}

#hi{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}

